<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Condición y bucle</h1>

    <ul>
      {{ listado_de_numeros }}
      {% for num in listado_de_numeros %}
        <li>
          {% if num|divisibleby:'2' %}
            <span style="color: red;font-size:2rem">{{ num }}</span>
          {% else %}
            <span style="color: green;font-size:2rem">{{ num }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
