{% extends "base.html" %}
{% block h1_text %}Condicion y bucle{% endblock h1_text %}
{% block main %}{{listado_de_numeros}}

    
    
    <ul>
        {% for valor in listado_de_numeros %}
            <li>
                {% if valor|divisibleby:"2" %}
                    <span style="color: red;font-size: 24px">
                        {{valor}}
                    </span> 
                {% else %}
                    <span style="color: green;font-size: 24px">
                        {{valor}}
                    </span> 
                {% endif %}
            </li>   
        {% endfor %}
    </ul>{% endblock main %}