{% extends 'base.html' %}
{% block title_text %}
  Crear auto
{% endblock %}
{% block h1_text %}
  Crear auto
{% endblock %}

{% block main %}
  <form action={% url "inicio:crear_auto" %} method="POST">
    {% csrf_token %}

    {% comment %}
    # SIN FORMULARIO DE DJANGO
    <input type="text" name="marca" placeholder="Marca" />
    <input type="text" name="modelo" placeholder="Modelo" /> {% endcomment %}
    
    {% comment %} # CON FORMULARIO DE DJANGO # FormularioCrearAuto {% endcomment %}
    {{ formulario }}
    <input type="submit" value="Crear" />
    {% comment %} <button>Crear</button> {% endcomment %}
  </form>
{% endblock %}
